<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>

<body class="bg-info py-5">
    <div class = "col-md-8 offset-md-2">
    <div class = "card">
        <div class = "card-body">
            <center>
            <h3>{{ title }}</h3>
            <h5><i>For prediction, click forecast button</i></h5>
            <button type="button" class="btn btn-primary mt-3" onclick="window.location = '/'">Cumulative stats</button>
            <button type="button" class="btn btn-warning mt-3" onclick = "window.location = '/forecast'">Case Prediction</button>

            </center>
        </div>
        <div class = "card-body">
            <canvas id="myChart"></canvas>
        </div>
        <center>
        <div id="btn-group">
            <button class="button button2" onclick="updateChart('Alberta')">Alberta</button>
            <button class="button button2" onclick="updateChart('BC')">BC</button>
            <button class="button button2" onclick="updateChart('Ontario')">Ontario</button>
            <button class="button button2" onclick="updateChart('Quebec')">Quebec</button>
            <button type="button" class="btn btn-outline-success ml-5">Add forecast</button>
            <button type="button" class="btn btn-outline-danger">Remove forecast</button>
        </div>
        </center>
</div>
<center>

</center>
</div>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var current_state = 'Alberta' // use this as GLOBAL VARIABLE
  var alberta_daily;
  var alberta_cumulative;
  var bar_labels = {labels: [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
        ]};
  
  alberta_daily = {values: [
        {% for item in values_alberta %}
            {{ item }},
        {% endfor %}
  ]};

//   alberta_mortality = {values: [
//         {% for item in cumulative_alberta %}
//             {{ item }} / 1,
//         {% endfor %}
//   ]};

  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',
  
      data: {
          labels: bar_labels.labels,
          datasets: [{
              label: 'Alberta',
              borderColor: 'rgb(6, 22, 255)',
              backgroundColor: 'rgb(6, 22, 255)',
              data: alberta_daily.values,
          },
        //   {
        //       label: 'Alberta (Cumulative)',
        //       data: alberta_mortality.values,
        //       borderColor: 'rgb(255,0,0)',
        //   }
        ],
        },

        options: {
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                },
                point: {
                    radius: 1
                }
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'month'
                    }
                }]
            }
        }
    });

    
  // Should be able to throw ('death') for button click. 
  // TODO: Definte global varaible 
  function updateChart(province){
    
    if (province == "Alberta"){
        data = {values: [
            {% for item in values_alberta %}
                {{ item }},
            {% endfor %}
        ]};
        
        new_border_color = 'rgb(6, 22, 255)',
        new_backgroundColor =  'rgb(6, 22, 255)'

    } else if (province == "BC"){
        data = {values: [
            {% for item in values_bc %}
                {{ item }},
            {% endfor %}
        ]};
        
        new_border_color = 'rgb(223, 127, 256)',
        new_backgroundColor = 'rgb(223, 127, 256)'

    } else if (province == "Ontario"){
        data = {values: [
            {% for item in values_ontario %}
                {{ item }},
            {% endfor %}
        ]};
        
        new_border_color = 'rgb(67, 236, 146)',
        new_backgroundColor = 'rgb(67, 236, 146)'

    } else if (province == "Quebec"){
        data = {values: [
            {% for item in values_quebec %}
                {{ item }},
            {% endfor %}
        ]};

        new_border_color = 'rgb(243, 227, 82)',
        new_backgroundColor = 'rgb(243, 227, 82)'
    }
    

    chart.data.datasets[0].data = data.values;
    chart.data.datasets[0].label = province;
    chart.data.datasets[0].borderColor = new_border_color
    chart.data.datasets[0].backgroundColor = new_backgroundColor

    chart.update();
    console.log('Updated data:', province, data);
  };

</script>
<style>
h3 {
    color: #000000; 
    transition: .5s; 
    -moz-transition: .5s; 
    -webkit-transition: .5s; 
    -o-transition: .5s; 
    font-family: 'Muli', sans-serif; 
    }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

</style>

<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>


